.image-slider-container {
    margin-top: 6rem;
    height: 80vh; /* Maintain a good height for larger screens */
    overflow: hidden; /* Prevent overflow */
  }
  
  .image-slide-item {
    width: 100%;
    max-height: 100%; /* Ensure images do not exceed container height */
  }
  
  @media (max-width: 1024px) {  /* For medium screens like tablets */
    .image-slider-container {
      margin-top: 5rem;
      height: 70vh; /* Slightly reduce height for tablets */
    }
  }
  
  @media (max-width: 768px) {  /* For smaller screens */
    .image-slider-container {
      margin-top: 4rem;
      height: 60vh; /* Further reduce height for mobile */
    }
  
    .image-slide-item {
      object-fit: cover; /* Ensure images cover the container */
    }
  }
  
  .button-position {
    bottom: 5%; /* Adjust position of indicators */
  }
  
  @media (max-width: 768px) {
    .button-position {
      bottom: 3%; /* Move indicators closer to the bottom on mobile */
    }
  }